#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define SPCCDT_L &mt LSFT LPRN
#define SPCCDT_R &mt RSFT RPRN

#define DEL_L1 &lt 1 DEL
#define RET_L2 &lt 2 RET

#define A_L1    &lt 1 A
#define SCLN_L2 &lt 2 SCLN

#define PREVI &cp M_PREV
#define PLAY  &cp M_PLAY
#define NEXT  &cp M_NEXT

// TODO: Encoder push missing.
// TODO: Gaming layer encoder changes.
// TODO: Missing shifted keycodes for lots of lower.
// TODO: Swap Non-US \| from hex code.
// TODO: Mouse HID for wheel events.

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1   |  2  |  3   |  4   |   5    |                  |    6   |  7 |  8  |  9  |   0  |       |
// |  TAB  |  Q   |  W  |  E   |  R   |   T    |                  |    Y   |  U |  I  |  O  |   P  |   \   |
// | ⌃     | A/L¹ |  S  |  D   |  F   |   G    |                  |    H   |  J |  K  |  L  | ;/L² |   '   |
// | ( / ⇧ |  Z   |  X  |  C   |  V   |   B    |       |  | MUTE  |    N   |  M |  ,  |  .  |   /  | ) / ⇧ |
//                | GUI | ALT  |  [   | DEL/L¹ | SPACE |  | BKSPC | RET/L² |  ] | ALT | GUI |
            bindings = <
&kp ESC  &kp NUM_1 &kp NUM_2 &kp NUM_3 &kp NUM_4 &kp NUM_5                  &kp NUM_6 &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0 &none
&kp TAB  &kp Q     &kp W     &kp E     &kp R     &kp T                      &kp Y     &kp U     &kp I     &kp O     &kp P     &kp 0x64
&kp LCTL A_L1      &kp S     &kp D     &kp F     &kp G                      &kp H     &kp J     &kp K     &kp L     SCLN_L2   &kp QUOT
SPCCDT_L &kp Z     &kp X     &kp C     &kp V     &kp B  &none    &cp M_MUTE &kp N     &kp M     &kp CMMA  &kp DOT   &kp FSLH  SPCCDT_R
                   &kp LGUI  &kp LALT  &kp LBKT  DEL_L1 &kp SPC  &kp BKSP   RET_L2    &kp RBKT  &kp RALT  &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp PGDN PGUP &inc_dec_cp M_VOLU M_VOLD>;
        };

        lower_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
// |       |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |  0    |  F12  |
// |       |-----|     |      |  =   |  +   |                   |  -   |  _    |  ^    |      |       |       |
// |       |     |     |      |  !   |  %   |        |  |       |  $   |  *    |  &    |      |       |       |
//               |     |      |      |------|        |  |       |      |       |       |      |
            bindings = <
&trans   &kp F1    &kp F2    &kp F3    &kp F4    &kp F5                   &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11
&trans   &kp NUM_1 &kp NUM_2 &kp NUM_3 &kp NUM_4 &kp NUM_5                &kp NUM_6 &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0 &kp F12
&trans   &trans    &trans    &trans    &kp EQL   &kp KPLS                 &trans    &trans    &trans    &trans    &trans    &trans
&trans   &trans    &trans    &trans    &trans    &trans   &trans   &trans &trans    &trans    &trans    &trans    &trans    &trans
                   &trans    &trans    &trans    &trans   &trans   &trans &trans    &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp PGDN PGUP &inc_dec_cp M_VOLU M_VOLD>;
        };

        raise_layer {
// ------------------------------------------------------------------------------------------------------------
// |     |      |      |       |       |      |                |      |      |       |      |       |  L³   |
// |     |      |  ^   |       |       |      |                |      |      |       |      |       |       |
// |     |  <   |  V   |  >    |       |      |                |      |      |       |      |-------|       |
// |     | PREV | PLAY | NEXT  |       |      |      |  |      |  #   |  ~   |       |      |       |       |
//              |      |       |   `   |      |      |  |      |------|      |       |      |
            bindings = <
&trans   &trans   &trans   &trans   &trans   &trans                   &trans   &trans    &trans   &trans   &trans    &tog 3
&trans   &trans   &kp UARW &trans   &trans   &trans                   &trans   &trans    &trans   &trans   &trans    &trans
&trans   &kp LARW &kp DARW &kp RARW &trans   &trans                   &trans   &trans    &trans   &trans   &trans    &trans
&trans   PREVI    PLAY     NEXT     &trans   &trans  &trans   &trans  &trans   &trans    &trans   &trans   &trans    &trans
                  &trans   &trans   &kp GRAV &trans  &trans   &trans  &trans   &trans    &trans   &trans
            >;

            sensor-bindings = <&inc_dec_kp PGDN PGUP &inc_dec_cp M_VOLU M_VOLD>;
        };

        gaming_layer {
// ------------------------------------------------------------------------------------------------------------
// | ESC |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   L⁰  |
// | TAB |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   \   |
// | ⌃   |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | ⇧   |  Z  |  X  |  C   |  V   |  B   |  Key3  |  |       |  N   |  M    |  ,    |  .   |   /   |   ⇧   |
//             | ALT |  RET |  I   |  M   |  SPACE |  | BKSPC | RET  |  ]    | ALT   | GUI  |
            bindings = <
&kp ESC  &kp NUM_1 &kp NUM_2 &kp NUM_3 &kp NUM_4 &kp NUM_5                  &kp NUM_6 &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0 &tog 3
&kp TAB  &kp Q     &kp W     &kp E     &kp R     &kp T                      &kp Y     &kp U     &kp I     &kp O     &kp P     &kp 0x64
&kp LCTL &kp A     &kp S     &kp D     &kp F     &kp G                      &kp H     &kp J     &kp K     &kp L     &kp SCLN  &kp QUOT
&kp LSFT &kp Z     &kp X     &kp C     &kp V     &kp B  &kp 0x5B   &none    &kp N     &kp M     &kp CMMA  &kp DOT   &kp FSLH  &kp RSFT
                   &kp LALT  &kp RET   &kp I     &kp M  &kp SPC    &kp BKSP &kp RET   &kp RBKT  &kp RALT  &kp RGUI
            >;

            // Set encoder on left hand to have Keypad 1 and 2, which are unlikely to be used in game.
            // This way, they can be bound to any random not really used action.
            sensor-bindings = <&inc_dec_kp 0x59 0x5A &inc_dec_cp M_VOLU M_VOLD>;
        };
    };
};
